#back {
    color:#800000;
    font-size: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
#addIcon {
    margin-left: 10%;
    font-size: 30px;
}
#strong {
    text-align: center;
    font-size: 20px;
    color: #8C0000;
    margin-bottom: 10px;
}
#toolbar {
    margin-left: 10px;
}
ion-button {
    font-weight: bold;
}
#addButton {
    height: 35px;
    width: 200px;
}
#priorityLabel {
    font-weight: normal;
    font-size:32px;
}
ion-label {
    font-weight: bold;
}
