<ion-header>
  <ion-toolbar>
    <img id="toolbar" src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="back">
      <ion-icon [routerLink]="['/tasks-list']" id="back" name="arrow-back-outline"></ion-icon>
  </div>
  <div id="strong">
    <strong>Dodaj zadanie</strong>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Termin wykonania</ion-label>
      <ion-datetime max="2099-12-31" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"[(ngModel)]="task.deadlineDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Godzina wykonania</ion-label>
      <ion-datetime pickerFormat="HH:mm" displayFormat="HH:mm"[(ngModel)]="task.deadlineTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="black">Tytuł</ion-label>
      <ion-input required [(ngModel)]="task.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Opis</ion-label>
      <ion-textarea required [(ngModel)]="task.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Kategoria</ion-label>
      <ion-select interface="popover" [(ngModel)]="task.category">
        <ion-select-option value="Praca">Praca</ion-select-option>
        <ion-select-option value="Edukacja">Edukacja</ion-select-option>
        <ion-select-option value="Dom">Dom</ion-select-option>
        <ion-select-option value="Zdrowie">Zdrowie</ion-select-option>
        <ion-select-option value="Rozwój osobisty">Rozwój osobisty</ion-select-option>
        <ion-select-option value="Nawyki">Nawyki</ion-select-option>
        <ion-select-option value="Inne">Inne</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-radio-group value="Pilne" [(ngModel)]="task.priority">
      <ion-item>
        <ion-label>Priorytet</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pilne</ion-label>
        <ion-radio slot="end" value="Pilne"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ważne</ion-label>
        <ion-radio slot="end" value="Ważne"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Dodatkowe</ion-label>
        <ion-radio slot="end" value="Dodatkowe"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="addButton" color="danger" (click)="addTask(task)">
          Dodaj
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
