#mainPage {
  text-align: center;
  position: relative;
  top: 10%;
}

#mainPage strong {
  font-size: 20px;
  line-height: 40px;
  color: #8C0000;
}

#mainPage p {
  font-size: 16px;
  line-height: 25px;
  color: #4C4C5A;
  margin: 20;
}

