#rectangle {
  border-radius: 3px;
  position: absolute;
  width: 377px;
  height: 79px;
  left: -1px;
  top: 100px;
  background: #C4C4C4;
  border-radius: 3px;
}


#mainPage {
  text-align: center;
  position: relative;
  top: 20%;
}

#mainPage strong {
  font-size: 20px;
  line-height: 40px;
  color: #8C0000;
}

#mainPage p {
  font-size: 16px;
  line-height: 25px;
  color: #4C4C5A;
  margin: 20;
}
#toolbar {
  margin-left:5%;
}
