<ion-header [translucent]="true">
  <ion-toolbar>
      <img src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mainPage">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <strong>Witamy w Task Master</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <img src="assets\icon\logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>Nasza aplikacja pomoże Ci w zarządzaniu osobistymi zadaniami</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="danger" (click)="getLoginPage()">
            Zaloguj się
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="danger" (click)="getRegisterPage()">
            Zarejestruj się
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
