<ion-header [translucent]="true">
  <ion-toolbar id="toolbar">
      <img src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mainPage">
    <strong>Witamy w Task Master</strong>
    <img src="assets\icon\logo.png">
    <p>Nasza aplikacja pomoże ci w zarządzaniu osobistymi zadaniami</p>
    <ion-button color="danger" (click)="getTasksListI()"  shape="round">
      Zaczynamy
    </ion-button>
  </div>
  
</ion-content>
