#back {
    color:#800000;
    font-size:50px;
    margin-top: 5px;
    margin-left: 5px;
}
#strong {
    text-align: center;
    font-size: 20px;
    color: #8C0000;
    margin-bottom: 10px;
}
#toolbar {
    margin-left: 10px;
}
ion-button {
    font-weight: bold;
}
ion-col {
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 15px;
}
#detIcon {
    text-align: center;
    margin-bottom: 1px;
    font-size:40px;
    color:#707070;
}