#back {
    color:#800000;
    font-size:50px;
    margin-top: 5px;
    margin-left: 5px;
}
#strong {
    text-align: left;
    font-size: 20px;
    color: #8C0000;
    margin-bottom: 12px;
    padding-top: 25px;
    margin-left: 20px;
}
#detIcon {
    text-align: right;
    margin-right: 60px;
    padding-top: 7px;
    font-size:40px;
    color:#707070;
}
#toolbar {
    margin-left: 20px;
    color:#800000;
    font-size: 16px;
}
#footer {
    margin-left: 10px;
}
ion-button {
    font-weight: bold;
}
ion-col {
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 15px;
}
