<ion-header>
  <ion-toolbar>
    <img id="toolbar" src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="back">
      <ion-icon [routerLink]="['/tasks-list']" id="back" name="arrow-back-outline"></ion-icon>
  </div>
  <div id="strong">
    <strong>Szczegóły</strong>
  </div>
  <div id="detIcon">
    <ion-icon width="120" height="60" id="detIcon" name="search"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <strong>Termin wykonania:</strong> {{task.deadlineDate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <strong>Godzina wykonania:</strong> {{task.deadlineTime}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <strong>Tytuł:</strong> {{task.title}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <strong>Opis:</strong> {{task.description}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <strong>Kategoria:</strong> {{task.category}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <strong>Priorytet:</strong> {{task.priority}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
