<ion-header>
  <ion-toolbar>
    <img id="toolbar" src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="back">
      <ion-icon [routerLink]="['/tasks-list']" id="back" name="arrow-back-outline"></ion-icon>
  </div>
  <div id="strong">
    <strong>Szczegóły</strong>
  </div>
  <ion-grid>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Termin wykonania: {{task.deadlineDate}}
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Godzina wykonania: {{task.deadlineTime}}
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Tytuł: {{task.title}}
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Opis: {{task.description}}
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Kategoria: {{task.category}}
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col size="7" no-padding text-center>
        Priorytet: {{task.priority}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
