<ion-header>
  <ion-toolbar>
    <img id="toolbar" src="assets\icon\logo2.png" width="120" height="60">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon id="back" [routerLink]="['/home']" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col id="logIcon">
        <ion-icon id="login" [routerLink]="['/login']" name="log-in-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="strong" size="12">
        <strong>Panel rejestracji</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label id="icon" position="fixed">
            <ion-icon id="icon"  name="at-circle"></ion-icon>
          </ion-label>
          <ion-input type="email" [(ngModel)]="user.email" placeholder="Podaj email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label id="icon" position="fixed">
            <ion-icon id="icon" name="lock-open"></ion-icon>
          </ion-label>
          <ion-input type="password" [(ngModel)]="user.password" placeholder="Podaj hasło" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="registerB">
    <ion-button  color="danger" (click)="register(user)">
      Zarejestruj się
    </ion-button>
  </div>
</ion-content>
