<ion-header>
  <ion-toolbar>
    <img id="toolbar" src="assets\icon\logo2.png"width="120" height="60">
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-icon id="back" [routerLink]="['/home']" id="back" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col id="regIcon">
        <ion-icon id="register" [routerLink]="['/register']" name="person-add-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="strong" size="12">
        <strong>Panel logowania</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed">
            <ion-icon id="icon" name="at-circle"></ion-icon>
          </ion-label>
          <ion-input type="email" [(ngModel)]="user.email" placeholder="Podaj email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed">
            <ion-icon id="icon" name="lock-open"></ion-icon>
          </ion-label>
          <ion-input type="password" [(ngModel)]="user.password" placeholder="Podaj hasło" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="loginB">
    <ion-button color="danger" (click)="login(user)">
      Zaloguj się
    </ion-button>
  </div>
</ion-content>
