#back {
    color:#800000;
    font-size:50px;
    margin-left:5px;
}
#strong {
    text-align: center;
    font-size: 20px;
    color: #8C0000;
}
#newTaskB {
    text-align: center;
}
#addButton {
    position: sticky;
    margin-top: 130%;
}

