#signout {
    color:#800000;
    font-size: 50px;
    margin-right: 20px;
    text-align: right;
    margin-top: 15px;
}
#strong {
    text-align: left;
    font-size: 20px;
    color: #8C0000;
    padding-top: 35px;
    margin-left: 15px;
}
#addButton {
    font-weight: bold;
    position: fixed;
    bottom: 80px;
}
#toolbar {
    margin-left: 20px;
    color:#800000;
    font-size: 16px;
}
#footer {
    margin-left: 10px;
}
ion-button {
    font-weight: bold;
}
#detailsIcon {
    color:#800000;
    font-size: 40px; 
}
#detailsCol {
    text-align: right;
}
h2 {
    font-weight: bolder;
}
